<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status.titleize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<% if @project.draft? %>
<%= link_to 'Publish', "/projects/#{@project.id}/publish" %> |
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
