<!DOCTYPE html>
<html lang="en">
  
  <%= render "shared/head" %>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render "shared/top_bar" %>
    <div class="flexformcontainer">
      <div class="voyager-form">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
